<div class="col-md-12">
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/presentation.html">Icons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#pablo" class="nav-link"><i class="material-icons">email</i></a>
          </li>
          <li class="dropdown nav-item">
            <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">settings</i>
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="#pablo" class="dropdown-item">Action</a>
              <a href="#pablo" class="dropdown-item">Another action</a>
              <a href="#pablo" class="dropdown-item">Something else here</a>
              <div class="dropdown-divider"></div>
              <a href="#pablo" class="dropdown-item">Separated link</a>
              <div class="dropdown-divider"></div>
              <a href="#pablo" class="dropdown-item">One more separated link</a>
            </div>
          </li>
          <li class="nav-item">
             <a (click)="logout()" class="nav-link">Log out</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

  <div class="section section-white">
    <div class="container">
      <!--                 nav pills -->
      <div id="navigation-pills">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <!--
                                      color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                  -->
                  <li class="nav-item">
                    <a class="nav-link active" href="#dashboard-2" role="tab" data-toggle="tab">
                      <i class="material-icons">Opt 1</i> Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab">
                      <i class="material-icons">OPT 2</i> Schedule
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
                  <div class="tab-pane active" id="dashboard-2">
                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                    <br>
                    <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                  </div>
                  <div class="tab-pane" id="schedule-2">
                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                    <br>
                    <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--                 end nav pills -->
    </div>
  </div>
</div>